.App {
  padding: 10px;
  box-shadow:2px 2px 2px 2px black;
  background-color:white;
}

body{
  background-color: rgb(79, 238, 243);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}